h1 {
    color: red;
    background: #000;
    text-transform: capitalize;
}

h2 {
    color: green;
    background: #000;
    text-transform: capitalize;
}

h3 {
    color: pink;
    background: #000;
    text-transform: capitalize;
}